{:duct.profile/base
 {:duct.core/project-ns duct-init

  :duct-init.db/take-datasource {:db #ig/ref :duct.database.sql/hikaricp}

  [:duct/const :type/article] [:map
                               [:articles
                                [:map
                                 [:id :int]
                                 [:title :string]
                                 [:body :string]
                                 [:created_at :any]
                                 [:updated_at :any]]]]

  :duct.handler/root
  {:router #ig/ref :duct-init.router/reitit}
  :duct-init.router/reitit
  {:env #ig/ref :duct.core/environment
   :routes [["/articles"
             ["/" {:get {:summary "articles#index"
                         :parameters {:query [:map
                                              [:x {:title "X parameter"
                                                   :description "Description for X parameter "}
                                               :int]
                                              [:y :int]]}
                         :responses {200 {:body [:map [:total :int]]}}
                         :handler #ig/ref :duct-init.handler.articles/index}
                   :post {:summary "articles#create"
                          :parameters {:body [:map
                                              [:title
                                               {:title "A title of an article"
                                                :description "Description for the title parameter"}
                                               :string]
                                              [:body
                                               {:title "A body of an article"}
                                               :string]]}
                          :responses {200 {:body #ig/ref :type/article}}
                          :handler #ig/ref :duct-init.handler.articles/create}}]
             ["/:id" {:get {:summary "articles#show"
                            :responses {200 {:body #ig/ref :type/article}}
                            :handler #ig/ref :duct-init.handler.articles/show}
                      :post {:summary "articles#update"
                             :parameters {:body [:map
                                                 [:title
                                                  {:title "A title of an article"
                                                   :description "Description for the title parameter"}
                                                  :string]
                                                 [:body
                                                  {:title "A body of an article"}
                                                  :string]]}
                             :responses {200 {:body :string}}
                             :handler #ig/ref :duct-init.handler.articles/update}}]
             ["/:id/delete" {:post {:summary "articles#delete"
                                    :responses {200 {:body :string}}
                                    :handler #ig/ref :duct-init.handler.articles/delete}}]]]}

  :duct-init.handler.articles/index {}
  :duct-init.handler.articles/show {:articles-get-by-id #ig/ref :duct-init.boundary.articles/get-by-id}
  :duct-init.handler.articles/create {:articles-create #ig/ref :duct-init.boundary.articles/create}
  :duct-init.handler.articles/update {:articles-update #ig/ref :duct-init.boundary.articles/update}
  :duct-init.handler.articles/delete {}

  :duct-init.boundary.articles/create {:db #ig/ref :duct-init.db/take-datasource}
  :duct-init.boundary.articles/update {:db #ig/ref :duct-init.db/take-datasource}
  :duct-init.boundary.articles/get-by-id {:db #ig/ref :duct-init.db/take-datasource}}

 :duct.profile/dev #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/test #duct/include "test"
 :duct.profile/prod #duct/include "prod"

 :duct.module/logging {}
 :duct.module.web/api {}}
